<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/aop"
       xmlns:bean="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">



    <bean id="jdbcAccountDao" class="com.springInPractice.chapter1.dao.JdbcAccountDao">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="accountService" class="com.springInPractice.chapter1.service.AccountServiceImpl">
        <property name="accountDao" ref="jdbcAccountDao" />
    </bean>

    <bean id="dataSource" class="oracle.jdbc.pool.OracleDataSource">
        <property name="user" value="${datasource.user}"></property>
        <property name="password" value="${datasource.password}"></property>
        <property name="URL" value="${datasource.url}"></property>
    </bean>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations" value="classpath:/chapter1/properties/*.properties"></property>
    </bean>

</beans>